/Temp/
Assets/UnityVS.meta
Assets/UnityVS/Editor.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/UnityVS/Editor/UnityVS.VersionSpecific.dll.meta
/obj/
*.apk
UnityVS.frantic-fugu.CSharp.csproj
UnityVS.frantic-fugu.CSharp.Editor.csproj
UnityVS.frantic-fugu.CSharp.Plugins.csproj
UnityVS.frantic-fugu.sln
